body {
    background-image: url('Picsart_23-10-17_13-19-45-083.jpg'); /* Desktop background image */
    background-size: cover;
    background-repeat: no-repeat;
}

/* Media query for Android screens */
@media only screen and (max-width: 767px) {
    body {
        background-image: url('background-image-android.jpg'); /* Android background image */
    }
}
